<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>
	<connectionStrings>
		<remove name="MainServer.ConnectionString"/>
		<add name="MSSQLEntLibShopping"
			connectionString="Database=EntLibShopping;Server=127.0.0.1\SQLLIANG;User ID=sa;Password=sa;"
			providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.serviceModel>
		<bindings>
			<customBinding>
				<binding name="LiangComUtils.WcfService.UserAccount.ServiceUserAccountAspNetAjaxBehavior">
					<binaryMessageEncoding />
					<httpTransport />
				</binding>
			</customBinding>
			<webHttpBinding>
				
			</webHttpBinding>
		</bindings>
		<services>
			<!-- 注意: 服务名称必须与服务实现的配置名称相匹配。 -->
			<service name="LiangComUtils.WcfService.UserAccount.ServiceUserAccount" 
					 behaviorConfiguration="LiangComUtils.WcfService.UserAccount.ServiceUserAccountAspNetAjaxBehavior" >
				<endpoint address="" behaviorConfiguration="LiangComUtils.WcfService.UserAccount.ServiceUserAccountAspNetAjaxBehavior"
					binding="webHttpBinding" contract="LiangComUtils.WcfService.UserAccount.ServiceUserAccount" />
				<!-- 注意: 服务必须有一个 http 基址以便添加此终结点。 -->
				<endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
			</service>
		</services>
		<behaviors>
			<endpointBehaviors>
				<behavior name="LiangComUtils.WcfService.UserAccount.ServiceUserAccountAspNetAjaxBehavior">
					<enableWebScript />
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior name="LiangComUtils.WcfService.UserAccount.ServiceUserAccountAspNetAjaxBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"  multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>

</configuration>
